.content {
    margin-top: 54px;
    background-color: rgb(234, 243, 243);
  }
  .header {
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
  }
  .left-title {
    width: 200px;
    color: #fff;
    font-size: 18px;
    float: left;
    font-family: 'Secular One', sans-serif;
    font-weight: 800;
  }
  .right-title {
    width: 150px;
    text-align: right;
    float: right;
    color: #fff;
    font-family: 'Secular One', sans-serif;
    font-weight: 600;
  }
  .quiz-body {
    margin-top:30px;
    padding-bottom: 50px;
  }
  .option-block-container {
    margin-top: 30px;
    max-width: 900px;
  }
  .option-block {
    padding: 20px;
    background: rgb(252, 176, 78);
    border: 2px solid #fc8f00;
    margin-bottom: 20px;
    cursor: pointer;
    font-family: 'Secular One', sans-serif;
    font-weight: 400;
    font-size: 20px;
  }
  .result-question {
    font-weight: bold;
  }
  .c-wrong {
    margin-left: 20px;
    color: #ff0000;
  }
  .c-correct {
    margin-left: 20px;
    color: green;
  }
  .last-row {
    border-bottom: 1px solid #ccc;
    padding-bottom: 25px;
    margin-bottom: 25px;
  }
  .res-header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }